In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
df = sns.load_dataset('titanic')
print(df.head(7))
print(df.info())

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True
5         0       3    male   NaN  ...   NaN   Queenstown     no   True
6         0       1    male  54.0  ...     E  Southampton     no   True

[7 rows x 15 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None

In [ ]:
nan_deck = df['deck'].value_counts(dropna=False)
print(nan_deck)

NaN    688
C       59
B       47
D       33
E       32
A       15
F       13
G        4
Name: deck, dtype: int64

In [ ]:
print(df.head().isnull())#누락데이터 찾기
print(df.isnull().sum(axis=0))#누락데이터 갯수 찾기

   survived  pclass    sex    age  ...   deck  embark_town  alive  alone
0     False   False  False  False  ...   True        False  False  False
1     False   False  False  False  ...  False        False  False  False
2     False   False  False  False  ...   True        False  False  False
3     False   False  False  False  ...  False        False  False  False
4     False   False  False  False  ...   True        False  False  False

[5 rows x 15 columns]
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
missing_df = df.isnull()
for col in missing_df.columns:
  missing_count = missing_df[col].value_counts()
  try:
    print(col, ':', missing_count[True])
  except:
    print(col, ':', 0)

survived : 0
pclass : 0
sex : 0
age : 177
sibsp : 0
parch : 0
fare : 0
embarked : 2
class : 0
who : 0
adult_male : 0
deck : 688
embark_town : 2
alive : 0
alone : 0

In [ ]:
df_thresh = df.dropna(axis=1, thresh=500)#nan값 500개 이상 가지고 있는 모든 열 삭제
print(df_thresh.columns)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive',
       'alone'],
      dtype='object')

In [ ]:
df_age = df.dropna(subset=['age'], how='any', axis=0)
print(len(df_age))

714

In [ ]:
mean_age = df['age'].mean(axis=0)
df['age'].fillna(mean_age, inplace = True)#평균으로 대체, 딴거로도 대체 가능함.

In [ ]:
most_freq = df['embark_town'].value_counts(dropna=True).idxmax()
print(most_freq)
df['embark_town'].fillna(most_freq, inplace = True)
#df['embark_town'].fillna(method='ffill', inplace=True)

Southampton

In [ ]:
#누락데이터가 NaN으로 안될때, NaN으로 치환 ex)?일때
df.replace('?', np.nan, inplace=True)

In [ ]:
#중복데이터 확인
df = pd.DataFrame({'c1':['a','a','b','a','b'],
                   'c2':[1,1,1,2,2],
                   'c3':[1,1,2,2,2]})
print(df)

df_dup = df.duplicated()
print(df_dup)

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2
0    False
1     True
2    False
3    False
4    False
dtype: bool

In [ ]:
col_dup = df['c2'].duplicated()
print(col_dup)

0    False
1     True
2     True
3    False
4     True
Name: c2, dtype: bool

In [ ]:
df2 = df.drop_duplicates()#3개 칼럼 전부에서 중복된거 제거
print(df2)

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [ ]:
df3 = df.drop_duplicates(subset=['c2','c3'])#c2,c3 같이 중복된거 제거
print(df3)

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2

In [ ]:
df = pd.read_csv('./auto-mpg.csv', header=None)
df.columns = ['mpg','cylinders','displacement','horsepower','weight','acceleration','model year','origin','name']
print(df.head())
mpg_to_kpl = 1.60934/3.78541
df['kpl'] = df['mpg']*mpg_to_kpl
df['kpl'] = df['kpl'].round(2)#둘째자리에서 반올림
df.drop(['mpg'],axis=1,inplace=True)
print(df.head())

    mpg  cylinders  displacement  ... model year  origin                       name
0  18.0          8         307.0  ...         70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...         70       1          buick skylark 320
2  18.0          8         318.0  ...         70       1         plymouth satellite
3  16.0          8         304.0  ...         70       1              amc rebel sst
4  17.0          8         302.0  ...         70       1                ford torino

[5 rows x 9 columns]
   cylinders  displacement horsepower  ...  origin                       name   kpl
0          8         307.0      130.0  ...       1  chevrolet chevelle malibu  7.65
1          8         350.0      165.0  ...       1          buick skylark 320  6.38
2          8         318.0      150.0  ...       1         plymouth satellite  7.65
3          8         304.0      150.0  ...       1              amc rebel sst  6.80
4          8         302.0      140.0  ...       1                ford torino  7.23

[5 rows x 9 columns]

In [ ]:
print(df.dtypes)
print(df['horsepower'].unique())
df['horsepower'].replace('?',np.nan, inplace=True)
df.dropna(subset=['horsepower'], axis=0, inplace=True)
df['horsepower'] = df['horsepower'].astype('float')
print(df['horsepower'].dtypes)

cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model year        int64
origin            int64
name             object
kpl             float64
dtype: object
['130.0' '165.0' '150.0' '140.0' '198.0' '220.0' '215.0' '225.0' '190.0'
 '170.0' '160.0' '95.00' '97.00' '85.00' '88.00' '46.00' '87.00' '90.00'
 '113.0' '200.0' '210.0' '193.0' '?' '100.0' '105.0' '175.0' '153.0'
 '180.0' '110.0' '72.00' '86.00' '70.00' '76.00' '65.00' '69.00' '60.00'
 '80.00' '54.00' '208.0' '155.0' '112.0' '92.00' '145.0' '137.0' '158.0'
 '167.0' '94.00' '107.0' '230.0' '49.00' '75.00' '91.00' '122.0' '67.00'
 '83.00' '78.00' '52.00' '61.00' '93.00' '148.0' '129.0' '96.00' '71.00'
 '98.00' '115.0' '53.00' '81.00' '79.00' '120.0' '152.0' '102.0' '108.0'
 '68.00' '58.00' '149.0' '89.00' '63.00' '48.00' '66.00' '139.0' '103.0'
 '125.0' '133.0' '138.0' '135.0' '142.0' '77.00' '62.00' '132.0' '84.00'
 '64.00' '74.00' '116.0' '82.00']
float64

In [ ]:
print(df['origin'].unique())
df['origin'].replace({1:'USA',2:'EU',3:'JPN'},inplace=True)
print(df['origin'].unique())
print(df['origin'].dtypes)
df['origin'] = df['origin'].astype('category')
print(df['origin'].dtypes)

[1 3 2]
['USA' 'JPN' 'EU']
object
category

In [ ]:
#데이터 구간별 분할
count, bin_dividers = np.histogram(df['horsepower'],bins=3)#3개로 분할
print(bin_dividers)
bin_names = ['low','moderate','high']
df['hp_bin'] = pd.cut(x = df['horsepower'],#데이터배열
                      bins = bin_dividers,#경계값 리스트
                      labels = bin_names,#bin이름
                      include_lowest=True)#첫 경계값 포함
print(df[['horsepower','hp_bin']].head(15))

[ 46.         107.33333333 168.66666667 230.        ]
    horsepower    hp_bin
0        130.0  moderate
1        165.0  moderate
2        150.0  moderate
3        150.0  moderate
4        140.0  moderate
5        198.0      high
6        220.0      high
7        215.0      high
8        225.0      high
9        190.0      high
10       170.0      high
11       160.0  moderate
12       150.0  moderate
13       225.0      high
14        95.0       low

In [ ]:
#더미변수 사용
horsepower_dummies = pd.get_dummies(df['hp_bin'])
print(horsepower_dummies.head(15))

    low  moderate  high
0     0         1     0
1     0         1     0
2     0         1     0
3     0         1     0
4     0         1     0
5     0         0     1
6     0         0     1
7     0         0     1
8     0         0     1
9     0         0     1
10    0         0     1
11    0         1     0
12    0         1     0
13    0         0     1
14    1         0     0

In [ ]:
#정규화 -1~1 or 0~1
print(df.horsepower.describe())

df.horsepower = df.horsepower/abs(df.horsepower.max())
print(df.horsepower.head())
print(df.horsepower.describe())

count    392.000000
mean     104.469388
std       38.491160
min       46.000000
25%       75.000000
50%       93.500000
75%      126.000000
max      230.000000
Name: horsepower, dtype: float64
0    0.565217
1    0.717391
2    0.652174
3    0.652174
4    0.608696
Name: horsepower, dtype: float64
count    392.000000
mean       0.454215
std        0.167353
min        0.200000
25%        0.326087
50%        0.406522
75%        0.547826
max        1.000000
Name: horsepower, dtype: float64

시계열 데이터

In [ ]:
df = pd.read_csv('stock-data.csv')
print(df.head())
print(df.info())

         Date  Close  Start   High    Low  Volume
0  2018-07-02  10100  10850  10900  10000  137977
1  2018-06-29  10700  10550  10900   9990  170253
2  2018-06-28  10400  10900  10950  10150  155769
3  2018-06-27  10900  10800  11050  10500  133548
4  2018-06-26  10800  10900  11000  10700   63039
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    20 non-null     object
 1   Close   20 non-null     int64
 2   Start   20 non-null     int64
 3   High    20 non-null     int64
 4   Low     20 non-null     int64
 5   Volume  20 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.1+ KB
None

In [ ]:
df['new_Date'] = pd.to_datetime(df['Date'])
print(df.head())
print(type(df['new_Date'][0]))

         Date  Close  Start   High    Low  Volume   new_Date
0  2018-07-02  10100  10850  10900  10000  137977 2018-07-02
1  2018-06-29  10700  10550  10900   9990  170253 2018-06-29
2  2018-06-28  10400  10900  10950  10150  155769 2018-06-28
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27
4  2018-06-26  10800  10900  11000  10700   63039 2018-06-26
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [ ]:
#df.set_index('new_Date',inplace=True)
df.drop('Date', axis=1, inplace=True)
print(df.head())

   Close  Start   High    Low  Volume   new_Date
0  10100  10850  10900  10000  137977 2018-07-02
1  10700  10550  10900   9990  170253 2018-06-29
2  10400  10900  10950  10150  155769 2018-06-28
3  10900  10800  11050  10500  133548 2018-06-27
4  10800  10900  11000  10700   63039 2018-06-26

In [ ]:
dates = ['2019-01-01', '2020-03-01', '2021-06-01']
ts_dates = pd.to_datetime(dates)

pr_day = ts_dates.to_period(freq='D')
print(pr_day)
pr_month = ts_dates.to_period(freq='M')
print(pr_month)
pr_year = ts_dates.to_period(freq='A')
print(pr_year)

PeriodIndex(['2019-01-01', '2020-03-01', '2021-06-01'], dtype='period[D]', freq='D')
PeriodIndex(['2019-01', '2020-03', '2021-06'], dtype='period[M]', freq='M')
PeriodIndex(['2019', '2020', '2021'], dtype='period[A-DEC]', freq='A-DEC')

In [ ]:
#timestamp array
ts_ms = pd.date_range(start='2019-01-01',
                      end=None,
                      periods=6,
                      freq='MS',
                      tz='Asia/Seoul')
print(ts_ms)

DatetimeIndex(['2019-01-01 00:00:00+09:00', '2019-02-01 00:00:00+09:00',
               '2019-03-01 00:00:00+09:00', '2019-04-01 00:00:00+09:00',
               '2019-05-01 00:00:00+09:00', '2019-06-01 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='MS')

In [ ]:
#period array
pr_m = pd.period_range(start='2019-01-01',
                       end=None,
                       periods=3,
                       freq='M')
print(pr_m)

PeriodIndex(['2019-01', '2019-02', '2019-03'], dtype='period[M]', freq='M')

In [ ]:
df['Year'] = df['new_Date'].dt.year
df['Month'] = df['new_Date'].dt.month
df['Day'] = df['new_Date'].dt.day
print(df.head())

   Close  Start   High    Low  Volume   new_Date  Year  Month  Day
0  10100  10850  10900  10000  137977 2018-07-02  2018      7    2
1  10700  10550  10900   9990  170253 2018-06-29  2018      6   29
2  10400  10900  10950  10150  155769 2018-06-28  2018      6   28
3  10900  10800  11050  10500  133548 2018-06-27  2018      6   27
4  10800  10900  11000  10700   63039 2018-06-26  2018      6   26

In [ ]:
df['Date-yr'] = df['new_Date'].dt.to_period(freq='A')
df['Date-m'] = df['new_Date'].dt.to_period(freq='M')
print(df.head())

   Close  Start   High    Low  Volume  ...  Year  Month  Day  Date-yr   Date-m
0  10100  10850  10900  10000  137977  ...  2018      7    2     2018  2018-07
1  10700  10550  10900   9990  170253  ...  2018      6   29     2018  2018-06
2  10400  10900  10950  10150  155769  ...  2018      6   28     2018  2018-06
3  10900  10800  11050  10500  133548  ...  2018      6   27     2018  2018-06
4  10800  10900  11000  10700   63039  ...  2018      6   26     2018  2018-06

[5 rows x 11 columns]

In [ ]:
df.set_index('new_Date', inplace=True)
print(df.head())

            Close  Start   High    Low  ...  Month  Day  Date-yr   Date-m
new_Date                                ...
2018-07-02  10100  10850  10900  10000  ...      7    2     2018  2018-07
2018-06-29  10700  10550  10900   9990  ...      6   29     2018  2018-06
2018-06-28  10400  10900  10950  10150  ...      6   28     2018  2018-06
2018-06-27  10900  10800  11050  10500  ...      6   27     2018  2018-06
2018-06-26  10800  10900  11000  10700  ...      6   26     2018  2018-06

[5 rows x 10 columns]

In [ ]:
df_y=df['2018']
print(df_y.head())
df_ym_cols=df.loc['2018-07','Start':'High']
print(df_ym_cols.head())
df_ymd_range=df['2018-06-25':'2018-06-20']
print(df_ymd_range)

            Close  Start   High    Low  ...  Month  Day  Date-yr   Date-m
new_Date                                ...
2018-07-02  10100  10850  10900  10000  ...      7    2     2018  2018-07
2018-06-29  10700  10550  10900   9990  ...      6   29     2018  2018-06
2018-06-28  10400  10900  10950  10150  ...      6   28     2018  2018-06
2018-06-27  10900  10800  11050  10500  ...      6   27     2018  2018-06
2018-06-26  10800  10900  11000  10700  ...      6   26     2018  2018-06

[5 rows x 10 columns]
            Start   High
new_Date
2018-07-02  10850  10900
            Close  Start   High    Low  ...  Month  Day  Date-yr   Date-m
new_Date                                ...
2018-06-25  11150  11400  11450  11000  ...      6   25     2018  2018-06
2018-06-22  11300  11250  11450  10750  ...      6   22     2018  2018-06
2018-06-21  11200  11350  11750  11200  ...      6   21     2018  2018-06
2018-06-20  11550  11200  11600  10900  ...      6   20     2018  2018-06

[4 rows x 10 columns]

In [ ]:
today = pd.to_datetime('2018-12-25')
df['time_delta'] = today - df.index
df.set_index('time_delta',inplace=True)
df_180 = df['180 days':'189 days']
print(df_180)

            Close  Start   High    Low  ...  Month  Day  Date-yr   Date-m
time_delta                              ...
180 days    10400  10900  10950  10150  ...      6   28     2018  2018-06
181 days    10900  10800  11050  10500  ...      6   27     2018  2018-06
182 days    10800  10900  11000  10700  ...      6   26     2018  2018-06
183 days    11150  11400  11450  11000  ...      6   25     2018  2018-06
186 days    11300  11250  11450  10750  ...      6   22     2018  2018-06
187 days    11200  11350  11750  11200  ...      6   21     2018  2018-06
188 days    11550  11200  11600  10900  ...      6   20     2018  2018-06
189 days    11300  11850  11950  11300  ...      6   19     2018  2018-06

[8 rows x 10 columns]